<div class="swiper-slide feedback-slider__slide">
    <img class="feedback__avatar" src="/themes/bit/images/general/user-avatar.jpg" alt="">
    <div class="feedback__content">
        <p class="feedback__text">
            {{ fields.body.content }}
        </p>
        <p class="feedback__name">{{ fields.body.title }}</p>

        <div class="feedback__rating">
            <svg class="icon icon-star feedback__icon">
                <use xlink:href="/themes/bit/images/svg/sprite.svg#star"></use>
            </svg>
            <svg class="icon icon-star feedback__icon">
                <use xlink:href="/themes/bit/images/svg/sprite.svg#star"></use>
            </svg>
            <svg class="icon icon-star feedback__icon">
                <use xlink:href="/themes/bit/images/svg/sprite.svg#star"></use>
            </svg>
            <svg class="icon icon-star feedback__icon">
                <use xlink:href="/themes/bit/images/svg/sprite.svg#star"></use>
            </svg>
            <svg class="icon icon-star feedback__icon">
                <use xlink:href="/themes/bit/images/svg/sprite.svg#star"></use>
            </svg>
        </div>
    </div>
</div>