<div class="page"  >

  {{ include('/themes/bit/header.html') }}





<main class="content content">
   

            {{page.catalog_block}}  

<div class="post-content">  
            {{page.catalog_content}}
</div>
         
          
</main>



{{ include('/themes/bit/footer.html') }}  
